<div class="card" *ngIf="selectedVirtualDesktop" fxFlex="grow">
  <div class="card-header p-1">
    <div class="input-group btn-group-sm">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button"
          (click)="onClickPrevBtn($event)">
          <i class="fa fa-angle-double-left"></i>
        </button>
      </div>
      <div class="card" style="width: 100%;">
        <div class="card-body text-center p-1">
          <span>{{ selectedVirtualDesktop.desktopName }}</span>
        </div>
      </div>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button"
          (click)="onClickNextBtn($event)">
          <i class="fa fa-angle-double-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body p-1" fxFlex="grow">
    <!-- 1 -->
    <div class="card border border-primary">1: {{ hwnd1 }}</div>
    <!-- 2 -->
    <div class="card">2: {{ hwnd2 }}</div>
    <!-- 3 -->
    <div class="card">3: {{ hwnd3 }}</div>
    <!-- 4 -->
    <div class="card">4: {{ hwnd4 }}</div>
    <!-- 5 -->
    <div class="card">5: {{ hwnd5 }}</div>
    <!-- 6 -->
    <div class="card">6: {{ hwnd6 }}</div>
    <!-- 7 -->
    <div class="card">7: {{ hwnd7 }}</div>
    <!-- 8 -->
    <div class="card">8: {{ hwnd8 }}</div>
    <!-- 9 -->
    <div class="card">9: {{ hwnd9 }}</div>
  </div>
  <div class="card-footer p-1">
    <span>Status: </span>
  </div>
</div>
