//
// This file should contain any global app specific styles
//

// :root {
//   --input-border-color: #{$input-border-color};
// }

html {
  height: 100%;
}

body {
  min-height: 100vh;
}

// Disable Edge password eye icon
input[type=password].no-native-eye::-ms-reveal,
input[type=password].no-native-eye::-ms-clear
{
    display: none;
}


ngx-datatable {
  .datatable-row-group {
    &:hover {
      background-color: rgba(50, 50, 50, 0.3);
    }
  }

  .datatable-header-cell-label {
    padding: 0 8px;
    font-weight: bold;
  }

  .datatable-body-cell {
    padding: 0 !important;

    .datatable-body-cell-label {
      // padding-top: 8px !important;
      padding: 0 8px;
    }
  }
}
