//
// This file should only contain changes to bootstrap variables
//

$enable-validation-icons: false;

//
// Color system
//

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$black-100: #1e1e1e;

$grays: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);


$blue:    #357ebd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #55c83c;
$teal:    #20c997;
$cyan:    #17a2b8;

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $orange;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$lightgray:     $gray-300;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    // Custom
    "lightgray":  $lightgray
  ),
  $theme-colors
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: false;

// Body
//
// Settings for the `<body>` element.

// $body-bg:                   $black-100;
// $body-bg:                   rgba(60,80,180,0.8);
$body-bg:                   transparent;
$body-color:                $gray-300;

// Components
//
// Define common padding and border radius sizes and more.

$component-active-color:      $gray-300;

// Forms

$input-bg:                              transparent;
$input-focus-bg:                        rgba($primary, 0.1);
$input-disabled-bg:                     rgba($lightgray, 0.3);

$input-color:                           $gray-300;
$input-border-color:                    rgba($gray-900, 0.1);

$input-focus-border-color:              rgba($primary, 0.1);
$input-focus-box-shadow:                none;

$input-group-addon-bg:                  $gray-900;

// Cards

$card-bg:                           transparent;

// List group

$list-group-bg:                     $gray-900;

$list-group-hover-bg:               $gray-700;
$list-group-action-active-bg:       $gray-800;
