::-webkit-scrollbar {
  background-color: rgba(50, 50, 50, 0.1);
}

::-webkit-scrollbar:horizontal {
  height: 10px;
  background-color: rgba(50, 50, 50, 0.1);
}

::-webkit-scrollbar:vertical {
  width: 10px;
  background-color: rgba(50, 50, 50, 0.1);
}

// ::-webkit-scrollbar-track {
//   background-color: rgba(50, 50, 50, 0.1);
// }

::-webkit-scrollbar-thumb {
  background-color: rgba($primary, 0.2);
}
