<div class="container night-theme">
  <div class="content"
    fxLayout="row"
    fxLayout.xs="column"
    fxFlexFill
    ngxSplit="row">

    <div fxFlexFill style="padding:10px">
      <ngx-section class="shadow shadow-fx"
        (click)="onClickUtilitySelection($event,'MainProcessEditor')">
        MainProcessEditor
      </ngx-section>

      <ngx-section class="shadow shadow-fx"
        (click)="onClickUtilitySelection($event,'UtilitiesSelection')">
        UtilitiesSelection
      </ngx-section>
    </div>

  </div>
</div>
