.ngx-split.column-split > .ngx-split-handle .ngx-split-button {
  top: -11px !important;
}

.mb-btn-dark {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.mb-btn-dark:hover {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.form-control:focus {
  box-shadow: none;
}

.noselect {
  user-select: none;
}
