<!-- <p *ngIf="hotkey; else other">~{{ hotkey.accelerator }}~</p>
<p #other>Nothing</p> -->
<!-- <p>Test</p> -->

<!-- <p *ngIf="hotkey">~{{ hotkey.accelerator }}~</p> -->

<div *ngIf="hotkey" class="card hotkey-card">
  <p class="mb-1">{{ hotkey.accelerator }}</p>
  <div style="display: block;">
    <div class="action-container">
        <span class="action-text">{{ hotkey.action }}</span>
        <i class="fa fa-play fa-fw action-play-btn" (click)="onClickActionPlay($event)"></i>
    </div>
    <div style="float: right;">
        <span class="scope-text">{{ hotkey?.scope }}</span>
    </div>
  </div>
</div>
