<!-- <div class="container-fluid">
  <button type="button" class="btn btn-dark btn-sm"
    (click)="procListVisible = true">Show Process Selector</button>
    <button type="button" class="btn btn-dark btn-sm"
    (click)="procSettingsVisible = true">Show Process Settings</button>
  <div style="min-width: 300px; max-width: 500px; max-height: 500px; height: 500px;">

    <app-processes-list *ngIf="procListVisible"
      (clickCloseIcon)="procListVisible = false"
      (clickProcessRow)="onClickProcess($event)">
    </app-processes-list>

    <app-process-settings *ngIf="procSettingsVisible"
      [hWnd]="this.selectedProcess.hWnd"
      (clickCloseIcon)="procSettingsVisible = false"></app-process-settings>

    <router-outlet></router-outlet>

  </div>
</div> -->

<div class="container-fluid" style="height: 100%; padding-left: 0; padding-right: 0;">
  <app-electron-window-base>
    <router-outlet></router-outlet>
  </app-electron-window-base>
</div>
