<div class="container mb-ngx-container night-theme">
  <div class="content"
    fxLayout="row"
    fxLayout.xs="column"
    fxFlexFill
    ngxSplit="row">

  <div fxFlex="300px" fxFlexFill ngxSplitArea>
    <div fxLayout="column" fxFlexFill ngxSplit="column">
      <div fxFlex="1 1 70%" ngxSplitArea>
        <app-panel-processes-list></app-panel-processes-list>
      </div>
      <div fxFlex="0 0 15px" ngxSplitHandle class="noise"></div>
      <div fxFlex="1 1 30%" ngxSplitArea>
        <h2>Alerts</h2>
        <ul>
          <li>DDOS</li>
          <li>DDOS</li>
          <li>DDOS</li>
        </ul>
      </div>
    </div>
  </div>
  <div fxFlex="15px" ngxSplitHandle [fxShow]="!hideAlertArea" class="noise"></div>
  <div fxFlex
    style="padding:10px"
    ngxSplitArea
    *ngIf="!hideAlertArea">
    <app-panel-main></app-panel-main>
    <!-- <ngx-input
      type="text"
      [label]="'Name'"
      [autofocus]="true"
      [ngModel]="inputValue"
      [hint]="'Enter your first and last name'"
      (change)="inputValue = $event">
    </ngx-input> -->
  </div>

  </div>
</div>
