<div class="card" fxLayout="column" fxFlexFill>
  <div class="input-group input-group-sm">
    <input type="text" class="form-control"
      placeholder="Search for..." aria-label="Search for..."
      (keypress)="onSearchKeypress($event)"
      (keydown)="onSearchKeydown($event)"
      (keyup)="onSearchKeyup($event)">
    <span class="input-group-addon">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </span>
  </div>

  <div style="overflow-y: auto;" fxFlex fxFlexFill>
    <app-hotkeys-list [hotkeys]="hotkeys"></app-hotkeys-list>
  </div>
</div>
