.ngx-split.column-split > .ngx-split-handle .ngx-split-button {
  top: -11px !important;
}

.mb-btn-dark {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.mb-btn-dark:hover {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.form-control:focus {
  box-shadow: none;
}

.noselect {
  user-select: none;
}

ngx-datatable {
  .datatable-row-group {
    &:hover {
      background-color: rgba(50, 50, 50, 0.3);
    }
  }

  .datatable-body-cell {
    padding: 0 !important;

    .datatable-body-cell-label {
      padding-top: 3px !important;
    }
  }
}
